.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > section {
        margin-block: 50px;
        max-width: 100vw !important;
    }
}
